<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 7px;
  margin-bottom: 15px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4C87AF;
  color: white;
  padding: 12px 20px;
  border:black;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #7DA045;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
</head>
<body>

<h3>Contact Form</h3>

<div class="container">
  <form action='#'>
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Navneet">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Singh">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Germany</option>
      <option value="usa">India</option>
      <option value="usa">Argentina</option>
      <option value="usa">Italy</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Contact Me</label>
    <textarea id="subject" name="subject" placeholder="My name is Navneet and here is my contact info...Thank you " style="height:200px"></textarea>

    <input type="submit" value="Submit">
    
  </form>
</div>

</body>
</html>